<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="~{layout/plantilla::head}">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Crear</title>
</head>

<body>
  <header th:replace="~{layout/plantilla :: header}" />
  <section th:replace="~{articulo/fragmentos :: editarArticulo}" />
  <footer th:replace="~{layout/plantilla :: footer}" />
</body>

</html>
