<!DOCTYPE html>
<html lang="en">

<head th:replace="~{Layout/template::head}">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal"
            data-bs-target="#agregarCategoria">
            <i class="fas fa-plus"></i> Agregar Categoria
          </button>
        </div>
      </div>
    </div>
  </section>

  <section th:fragment="agregarCategoria">
    <div id="agregarCategoria" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header bg-info text-white">
            <h5 class="modal-title">Agregar Categoria</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form th:action="@{/categoria/guardar}" th:object="${categoria}" method="POST" class="was-validated">
            <div class="modal-body">
              <div class="mb-3">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" name="descripcion" required="true" />
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section th:fragment="listadoCategoria" id="categoria">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h4>Listado de Categorias</h4>
            </div>
            <div th:if="${categorias != null and !categorias.empty}">
              <table class="table table-striped table-hover">
                <thead class="table-dark">
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="categoria, contador : ${categorias}">
                    <td>[[${contador.count}]]</td>
                    <td>[[${categoria.descripcion}]]</td>
                    <td>
                      <a th:href="@{/categoria/eliminar/}+${categoria.idCategoria}" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Eliminar</a>
                      <a th:href="@{/categoria/modificar/}+${categoria.idCategoria}" class="btn btn-success">
                        <i class="fas fa-pencil"></i> Modificar</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center p-2" th:if="${categorias == null or categorias.empty}">
              <span>Lista vacía</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-center bg-success text-white mb-3">
            <div class="card-body">
              <h3>Total Categorias</h3>
              <h4 class="fs-2">
                <i class="fas fa-users"></i> [[${totalCategorias}]]
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section th:fragment="editarCategoria">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form method="POST" th:action="@{/categoria/guardar}" th:object="${categoria}" class="was-validated">
          <input type="hidden" name="idCategoria" th:field="*{idCategoria}" />
          <section th:replace="~{categoria/fragmentos :: botonesEditar}" />
          <div id="details">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-header">
                      <h4>Actualizar</h4>
                    </div>
                    <div class="card-body">
                      <div class="mb-3">
                        <label for="descripcion">Nombre</label>
                        <input type="text" class="form-control" name="nombre" th:field="*{descripcion}"
                          required="true" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section th:fragment="botonesEditar">
    <div class="container py-4 mb-4 bg-light">
      <div class="row">
        <div class="col-md-4 d-grid">
          <a th:href="@{/categoria/listado}" class="btn btn-primary">
            <i class="fas fa-arrow-left"></i> Regresar
          </a>
        </div>
        <div class="col-md-4 d-grid">
          <a th:href="@{/categoria/eliminar/}+${categoria.idCategoria}" class="btn btn-danger">
            <i class="fas fa-trash"></i> Eliminar
          </a>
        </div>
        <div class="col-md-4 d-grid">
          <button type="submit" class="btn btn-success">
            <i class="fas fa-check"></i> Guardar
          </button>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
