<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TecnoProductions</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{carrito/fragmentosCarrito :: listadoArticulos}"/>
        <footer th:replace="~{layout/plantilla :: footer}"/>  

        <script>
            function addCard(formulario){             
            var valor=formulario.elements[0].value;                
            var url = '/carrito/agregar';
            url = url + '/' +valor;
            $("#resultsBlock").load(url);         
            }
        </script>
    </body>
</html>
