<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://w3.org/1999/xhtml">

<head th:replace="~{layout/plantilla :: head}">
    <!-- <meta charset="UTF-8"> -->
    <!-- <link rel="stylesheet" th:href="@{/styles/index.css}"> -->
    <!-- <title>Inicio</title> -->
</head>

<body>

    <header th:replace="~{layout/plantilla :: header}">

    </header>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4"></div>

            <div class="col-md-4">

                <div class="card">

                    <div class="card-header bg-success">

                        <h2> [[#{login.login}]] </h2>

                    </div>

                    <div class="card-body">

                        <form method="post" th:action="@{/login}">

                            <div class="form-group row my-3">

                                <label for="username" class="col-md-5 my-auto">
                                    <i class="fas fa-user-lock"></i>
                                    [[#{login.username}]]:
                                </label>

                                <div class="col-md-7 my-auto">
                                    <input class="form-control" type="text" name="username" id="username">
                                </div>

                                <label for="password" class="col-md-5 my-auto">
                                    <i class="fas fa-user-key"></i>
                                    [[#{login.password}]]:
                                </label>

                                <div class="col-md-7 my-auto">
                                    <input class="form-control" type="password" name="password" id="password">
                                </div>

                            </div>

                            <div class="card-footer col text-center">

                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-sign-in-alt"></i>
                                    [[#{login.login}]]
                                </button>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <footer th:replace="~{layout/plantilla :: footer}">


    </footer>
</body>

</html>
